.all-forgot{
        width: 100%;
        background-image:linear-gradient(to right, rgba(13, 73, 130,0.6) 30%, rgba(255, 255, 255, 0) 30%), url(../forgotpassword/Rectangleforgot.svg);
        height: 100%;
        /* overflow: hidden; */
        background-repeat: no-repeat;
        background-size: contain;
        color:#0D4980;
}
.aa_body-right > h2{
font-size: 3rem;
font-weight: bold;
color: #333;
}
.aa_body-right > h6{
    color: #8A8A8A;
    margin-bottom: 3rem;
}

.aa-anchor{
    align-self: flex-end !important;
}